.forms__button {
    height: 30px;
    border: 0;
    border-radius: 20px;
    font-family: 'Poppins';
    font-weight: bolder;
    width: 140px;
    color: #330072;
}

.link--button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
}

.table--button {
    width: 166px;
    height: 40px;
    color: white;
    background-color: #6429CD;
}