$border-radius: 246px;
$border-color: #6429CD;
//--------------------------------
@mixin centro-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

//------------------------------------
.table {
  @include centro-flex;
  width: 411px;
  height: 212px;
  background-color: #1F0D3F;
  border: solid 1px $border-color;
  border-radius: $border-radius;
}

.second__border__div {
  @include centro-flex;
  width: 442px;
  height: 240px;
  border: solid 1px #BDBDFF;
  border-radius: $border-radius;
}

.border__table {
  grid-area: table;
  @include centro-flex;
  border-radius: $border-radius;
  border: solid 2px $border-color;
  width: 475px;
  height: 265px;
}
