<div class="table__container">
  <div class="navContainer">
    <app-nav-bar [roomId]="roomId" [roomName]="roomName" (openOverlay)="openInvitePlayersOverlay()" (showUserList)="toggleUserListOverlay()"></app-nav-bar>
  </div>
  <div class="user-container" id="users">
    <app-game-table class="tabla"></app-game-table>
    <ng-container *ngFor="let usuario of joinedUsers; let i = index">
      <div class="cards-column"
           [ngClass]="{ 'user-selected': usuario.isSelected, 'user-card-selected': usuario.isSelected }"
           [ngStyle]="{'grid-area': usuario.area, 'margin': '2px','display':'flex','justify-content':'space-around'}">
        <app-card [value]="usuario.isAdmin ? usuario.name.substring(0, 2) : ''"
                  [additionalClass]="usuario.isAdmin ? 'card__radius admin' : (usuario.isSelected ? 'card--user-selected' : 'card--user')"
                  [isSelected]="usuario.isSelected"
                  >
        </app-card>
        <div class="card-name">{{ usuario.name }}</div>
      </div>
    </ng-container>
  </div>
  <div class="container-cards" *ngIf="!isSpectator()">
<app-cards-container (cardSelected)="handleCardSelection($event)"></app-cards-container>

  </div>
  <div *ngIf="showCreateUserComponent" class="overlay">
    <app-create-user (validationStatus)="receiveOverlayValidation($event)" (rolPlayerEmitter)="handleRolPlayer($event)"></app-create-user>
  </div>
  <div *ngIf="showInvitePlayersOverlay" class="overlay">
    <app-link [shareableLink]="getShareableLink()" (closeOverlay)="closeInvitePlayersOverlay()"></app-link>
  </div>
  <div *ngIf="showUserListOverlay" class="overlay--modifier">
    <app-user-list [roomId]="roomId"></app-user-list>
  </div>
</div>
