<div class="cards__container">
  <div class="cards__element-title">
    <h4>Elige una carta 👇</h4>
  </div>
  <div class="cards__row">
    <div *ngFor="let number of specialNumbers" class="cards__card">
      <app-card
        [value]="number.toString()"
        id="cards"
        additionalClass="card"
        [isSelected]="selectedCard === number"
        [ngClass]="{'cards__card--inactive': selectedCard !== null && selectedCard !== number}"
        (click)="onCardSelect(number)">
      </app-card>
    </div>
  </div>
</div>
